.u-section-1 .u-sheet-1 {
  min-height: 631px;
}

.u-section-1 .u-line-1 {
  height: 6px;
  transform-origin: left center;
  width: 795px;
  margin: 175px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  line-height: 1.6;
  width: 682px;
  margin: 46px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 33px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.125rem;
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 931px;
}

.u-section-2 .u-shape-1 {
  height: 532px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -472px auto 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 861px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 300;
  margin: 0;
}

.u-section-2 .u-image-1 {
  height: 590px;
  margin-top: 63px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 861px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-2 {
  height: 611px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 45px auto 0 0;
  padding: 10px 46px 10px 45px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 785px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 710px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    font-weight: 400;
  }

  .u-section-2 .u-image-1 {
    height: 487px;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 710px;
  }

  .u-section-2 .u-image-2 {
    height: 504px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 687px;
  }

  .u-section-2 .u-shape-1 {
    height: 387px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -327px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 617px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-2 .u-image-1 {
    height: 391px;
    margin-top: 35px;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    height: 386px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1680px;
  }

  .u-section-2 .u-shape-1 {
    height: 1127px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1067px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-image-1 {
    height: 619px;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 579px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1218px;
  }

  .u-section-2 .u-shape-1 {
    height: 367px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -307px;
    margin-bottom: -402px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-image-1 {
    height: 381px;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 365px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-3 {
  background-image: none;
  min-height: 931px;
}

.u-section-3 .u-shape-1 {
  height: 532px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: -472px auto 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 921px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 300;
  margin: 0 -50px 0 0;
}

.u-section-3 .u-image-1 {
  height: 590px;
  margin-top: 63px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 861px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-3 .u-image-2 {
  height: 611px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 45px auto 0 0;
  padding: 10px 46px 10px 45px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 785px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 759px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    height: 487px;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 710px;
  }

  .u-section-3 .u-image-2 {
    height: 504px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 687px;
  }

  .u-section-3 .u-shape-1 {
    height: 387px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -327px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 617px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-3 .u-image-1 {
    height: 391px;
    margin-top: 35px;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    height: 386px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1680px;
  }

  .u-section-3 .u-shape-1 {
    height: 1127px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1067px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-image-1 {
    height: 619px;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 579px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1218px;
  }

  .u-section-3 .u-shape-1 {
    height: 367px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -307px;
    margin-bottom: -402px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-1 {
    height: 381px;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 365px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-4 {
  background-image: none;
  min-height: 931px;
}

.u-section-4 .u-shape-1 {
  height: 532px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: -472px auto 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 924px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 400;
  margin: -27px 0 0;
}

.u-section-4 .u-image-1 {
  height: 590px;
  margin-top: 63px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 924px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-4 .u-image-2 {
  height: 611px;
  width: 579px;
  margin: -13px auto 0 -34px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 31px auto 0 0;
  padding: 10px 46px 10px 45px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 785px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 762px;
  }

  .u-section-4 .u-image-1 {
    inset: auto;
    height: 486px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 762px;
  }

  .u-section-4 .u-image-2 {
    inset: auto;
    height: 470px;
    width: 445px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 687px;
  }

  .u-section-4 .u-shape-1 {
    height: 387px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -327px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 617px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-4 .u-image-1 {
    height: 372px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    height: 354px;
    width: 335px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1680px;
  }

  .u-section-4 .u-shape-1 {
    height: 1127px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1067px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-image-1 {
    height: 558px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1218px;
  }

  .u-section-4 .u-shape-1 {
    height: 367px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -307px;
    margin-bottom: -402px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-1 {
    height: 351px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 931px;
}

.u-section-5 .u-shape-1 {
  height: 532px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: -472px auto 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 1000px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 300;
  margin: 0 -34px 0 0;
}

.u-section-5 .u-image-1 {
  height: 590px;
  margin-top: 63px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 861px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-5 .u-image-2 {
  height: 611px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 45px auto 0 0;
  padding: 10px 46px 10px 45px;
}

.u-section-5 .u-text-2 {
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 785px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 825px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    height: 487px;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 710px;
  }

  .u-section-5 .u-image-2 {
    height: 504px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 687px;
  }

  .u-section-5 .u-shape-1 {
    height: 387px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -327px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 617px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-5 .u-image-1 {
    height: 391px;
    margin-top: 35px;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-image-2 {
    height: 386px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1680px;
  }

  .u-section-5 .u-shape-1 {
    height: 1127px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1067px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-image-1 {
    height: 619px;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 579px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 1218px;
  }

  .u-section-5 .u-shape-1 {
    height: 367px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -307px;
    margin-bottom: -402px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-image-1 {
    height: 381px;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 365px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/w4-min.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 411px;
}

.u-section-6 .u-text-1 {
  width: 670px;
  font-size: 1.25rem;
  margin: 119px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-6 .u-text-1 {
    height: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 123px;
  }

  .u-section-6 .u-text-1 {
    width: 340px;
  }
}