 .u-section-1 {
  min-height: 861px;
}

.u-section-1 .u-shape-1 {
  height: 403px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-image-1 {
  width: 422px;
  height: 422px;
  object-position: 50% 2.71%;
  margin: -343px auto 0;
}

.u-section-1 .u-text-1 {
  width: 554px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 3rem;
  font-family: Roboto, sans-serif;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 543px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 30px auto 60px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    inset: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 779px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 649px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 62px;
  margin-bottom: 58px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 529px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 8.125rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 529px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 164px 30px 30px;
}

.u-section-2 .u-text-2 {
  margin: 172px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 436px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 436px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 22px;
    margin-bottom: 22px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 62px;
    margin-bottom: 58px;
  }

  .u-section-2 .u-text-1 {
    font-size: 4.5rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 631px;
}

.u-section-3 .u-line-1 {
  height: 6px;
  transform-origin: left center;
  width: 795px;
  margin: 60px auto 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  line-height: 1.6;
  margin: 46px 229px 0;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 33px auto 0;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 33px 229px 60px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 129px;
    margin-right: 129px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 129px;
    margin-right: 129px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-line-1 {
    width: 720px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-line-1 {
    width: 540px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-line-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.125rem;
  }
} .u-section-4 {
  background-image: none;
  min-height: 931px;
}

.u-section-4 .u-shape-1 {
  height: 532px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: -472px auto 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 861px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 300;
  margin: 0;
}

.u-section-4 .u-image-1 {
  height: 590px;
  margin-top: 63px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 862px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-4 .u-image-2 {
  height: 611px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 45px auto 0 0;
  padding: 10px 46px 10px 45px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 785px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 710px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-image-1 {
    height: 487px;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 711px;
  }

  .u-section-4 .u-image-2 {
    height: 504px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 687px;
  }

  .u-section-4 .u-shape-1 {
    height: 387px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -327px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 617px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-4 .u-image-1 {
    height: 391px;
    margin-top: 35px;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    height: 386px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1680px;
  }

  .u-section-4 .u-shape-1 {
    height: 1127px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1067px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-image-1 {
    height: 619px;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 579px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1218px;
  }

  .u-section-4 .u-shape-1 {
    height: 367px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -307px;
    margin-bottom: -402px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-1 {
    height: 381px;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 365px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 602px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 482px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 300;
  margin: 0;
}

.u-section-5 .u-text-2 {
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 28px auto 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 482px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  line-height: 2;
  margin: 195px 0 0 100px;
}

.u-section-5 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 25px 178px 0 auto;
}

.u-section-5 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -64px 84px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 405px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: -31px;
    margin-left: 30px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 405px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 1px;
  }

  .u-section-5 .u-icon-1 {
    margin-right: auto;
    margin-left: 131px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 541px;
  }

  .u-section-5 .u-text-1 {
    margin-right: -101px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 541px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 109px;
    margin-left: 71px;
  }

  .u-section-5 .u-icon-2 {
    margin-right: 52px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 901px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 321px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 3px;
    margin-right: -59px;
    margin-left: -42px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 17px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 971px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 492px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 28px;
    margin-left: 62px;
  }

  .u-section-5 .u-icon-2 {
    margin-right: 68px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/w4-min.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 411px;
}

.u-section-6 .u-text-1 {
  width: 670px;
  font-size: 1.25rem;
  margin: 119px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-6 .u-text-1 {
    height: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 123px;
  }

  .u-section-6 .u-text-1 {
    width: 340px;
  }
}